name: Valgrind

on:
  push:
    branches: [ master ]
    paths:
      - 'src/**'
      - 'tests/**'
  pull_request:
    branches: [ master ]

jobs:
  valgrind:
    name: Run Valgrind
    runs-on: ubuntu-latest
    permissions:
      actions:         read
      contents:        read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake valgrind \
                                  pkg-config libcurl4-openssl-dev libuv1-dev \
                                  libgtest-dev nlohmann-json3-dev rapidjson-dev

      - name: Build
        run: |
            cmake -B         build/  -DCMAKE_BUILD_TYPE=Debug
            cmake --build    build/

      - name: Run Valgrind
        run: |
            ctest --test-dir build/ -T memcheck --output-on-failure
